​body {
  text-align: center;

}
footer {
  text-align: center;
  padding: 60px;
  font-size: 18px;
}
.wrapper {
  background-color: #FFE0B2;
}
.top { 
  text-align: center;
  padding: 40px;
  color: brown;
}
.h1{
  font-family:Georgia, serif;
}

#weather {
  text-align: center;
  padding: 40px;
  background-size: 700px 500px ;
   background-image:url("http://exchangedownloads.smarttech.com/public/content/c7/c7b7d2f6-0e68-41bc-b320-063ae2783f69/previews/medium/0001.png");
  background-repeat: no-repeat;
  background-position: center;
}